* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

hr {
    border: 1.5px solid #f7f7f7;    
}

.container {
    width: 1450px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f3f3f4;
}

.left {
    display: flex;
    align-items: center;
}

.left .logo {
    margin-top: 8px;
    margin-left: 34px;
    margin-right: 42px;
}

.left .nav .menu {
    display: flex;
}

.left .nav .menu li {
    list-style-type: none;
    font-size: 14px;
    padding: 29px 12px 18px 12px;
}

.left .nav .menu li:first-child {
    border-bottom: 4px solid #00bdd6;
}

.left .nav .menu li:first-child a {
    color: #00bdd6;
    font-weight: bold;
}

.left .nav .menu li a {
    text-decoration: none;
    color: #565e6c;
}

.header .right {
    display: flex;
    align-items: center;
    position: relative;
}

.header .right .input-search {
    width: 336px;
    padding: 11px 10px 11px 35px;
    background-color: #f3f4f6;
    border: 0;
    font-size: 14.5px;
    border-radius: 5px;
    margin-right: 20px;
    color: #bcc1ca;
}

.header .right i {
    position: absolute;
    left: 12px;
}

.header .right img {
    margin-right: 20px;
}

.main {
    padding: 54px 140px;
}

.main .category {
    margin: 0;
    font-size: 14px;
    color: #171a1f;
    margin-bottom: 12px;
}

.main .category .category-title {
    margin-right: 10px;
    color: #9095a0;
}

.main .category .category-title span {
    font-size: 17.2px;
}

.main .title {
    font-size: 50px;
}

.main .rating {
    margin-top: 7px;
    margin-bottom: 16px;
    padding-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .rating .left img {
    height: 20px;
}

.main .rating .left p {
    font-size: 14px;
    color: #a7acb4;
}

.main .rating .left span {
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin: 0 3px;
}

.main .rating .right {
    display: flex;
    color: #4d4f54;
    font-size: 14px;
}

.main .rating .right .share {
    margin-right: 45px;
}

.main .rating .right .share i {
    margin-right: 4px;     
}

.main .rating .right .save i {
    margin-right: 4px;
}

.main .product-img {
    display: flex;
    justify-content: space-between;
}

.main .product-img img {
    margin-right: 15px;
}

.main .product-img .img-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .product-img .img-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .product-description {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 45px;
}

.main .product-description .pd-left {
    margin-top: 15px;
    width: 770px;
}

.main .product-description .pd-left h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.main .product-description .pd-left p {
    font-size: 15px;
    margin-bottom: 5px;
    line-height: 20px;
    color: #666a72;
}

.main .product-description .pd-left .pdl-bot {
    display: flex;
    justify-content: space-between;
    width: 385px;
    margin-top: 30px;
}

.main .product-description .pd-left .pdl-bot .pdlb-left .pdlbl-item,
.main .product-description .pd-left .pdl-bot .pdlb-right .pdlbl-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.main .product-description .pd-left .pdl-bot .pdlb-left .pdlbl-item span,
.main .product-description .pd-left .pdl-bot .pdlb-right .pdlbl-item span {
    font-size: 14px;
    margin-left: 8px;
    color: #3e4145;
}

.main .product-description .pd-right {
    display: flex;
    justify-content: flex-end;
}

.main .product-description .pd-right .payment {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid #f7f7f7;
    border-radius: 5px;
    padding: 20px;
}

.main .product-description .pd-right .payment .fe-top {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.main .product-description .pd-right .payment .fe-top span {
    color: #00bdd6;
    font-weight: bold;
    font-size: 25px;
    margin-right: 1px;
}

.main .product-description .pd-right .payment .fe-top .price {
    color: #00bdd6;
    font-weight: bold;
    font-size: 35px;
}


.main .product-description .pd-right .payment select {
    width: 300px;
    padding: 10px;
    border: 0;
    background-color: #f3f4f6;
    color: #414448;
    border-radius: 3px;
    font-weight: bold;
    margin-bottom: 15px;
}

.main .product-description .pd-right .payment .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main .product-description .pd-right .payment .total .total-left {
    color: #a4a9b2;
    font-size: 14px;
}

.main .product-description .pd-right .payment .total .total-right {
    font-weight: bold;
    font-size: 14px;
}

.main .product-description .pd-right .payment .btn-huy {
    width: 100%;
    padding: 13px 0;
    background-color: #00bdd6;
    border: 0;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
}

.main .product-description .pd-right .payment .button-add {
    position: relative;
    width: 100%;
}

.main .product-description .pd-right .payment .button-add img {
    position: absolute;
    top: 27px;
    left: 82px;
    width: 22px;
}

.main .product-description .pd-right .payment .button-add .btn-add {
    width: 100%;
    margin-top: 15px;
    padding: 13px 0;
    border: 0;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #4dd1e2;
    background-color: #fff;
    color: #4dd1e2;
}

.main .reviews {
    padding: 52px 0;
}

.main .reviews .reviews-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}

.main .reviews .reviews-title .rt-left {
    display: flex;
    align-items: center;
}

.main .reviews .reviews-title .rt-left h2 {
    font-size: 25px;
    margin-right: 7px;
}

.main .reviews .reviews-title .rt-left img {
    height: 20px;
    margin-right: 6px;
}

.main .reviews .reviews-title .rt-left p {
    font-size: 14px;
    color: #a7acb4;
}


.main .reviews .reviews-title .rt-left p span {
    font-weight: bold;
    color: #000;
    font-size: 14px;
    margin: 0 4px;
}

.main .reviews .reviews-title .rt-right {
    color: rgb(77, 79, 84);
    font-size: 14px;
}    

.main .reviews .reviews-title .rt-right p span {
    margin-left: 15px;
}

.main .reviews .reviews-bot {
    display: flex;
}

.main .reviews .reviews-bot .rb-left,
.main .reviews .reviews-bot .rb-right {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 60px;
}

.main .reviews .reviews-bot .rb-left .rbl-top,
.main .reviews .reviews-bot .rb-right .rbl-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.main .reviews .reviews-bot .rb-left .rblt-top,
.main .reviews .reviews-bot .rb-right .rblt-top {
    display: flex;
    align-items: self-start;
    margin-bottom: 8px;
}

.main .reviews .reviews-bot .rb-left .rblt-top img,
.main .reviews .reviews-bot .rb-right .rblt-top img {
    margin-right: 14px;
}

.main .reviews .reviews-bot .rb-left .rblt-top .rbltt-right p,
.main .reviews .reviews-bot .rb-right .rblt-top .rbltt-right p {
    font-weight: bold;
    font-size: 14px;
}

.main .reviews .reviews-bot .rb-left .rblt-top .rbltt-right p span,
.main .reviews .reviews-bot .rb-right .rblt-top .rbltt-right p span {
    font-weight: normal;
    font-size: 13px;
    margin-left: 10px;
    color: #a7acb4;
}

.main .reviews .reviews-bot .rb-left .rblt-top .rbltt-right img,
.main .reviews .reviews-bot .rb-right .rblt-top .rbltt-right img {
    margin-top: 4px;
}

.main .reviews .reviews-bot .rb-left .rblt-bot p,
.main .reviews .reviews-bot .rb-right .rblt-bot p {
    font-size: 14px;
    line-height: 20px;
}

